<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

            <span class="purple makeBigger fs-4"><h1>Git</h1></span>
        </a>

        <ul class="nav nav-pills">
             <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/page1" class="nav-link active">Git</a></li>
            <li class="nav-item"><a href="/page2" class="nav-link">Docker</a></li>
            <li class="nav-item"><a href="/page3" class="nav-link">Python</a></li>
            <li class="nav-item"><a href="/page4" class="nav-link">CI/CD</a></li>
        </ul>
    </header>
</div>


<div class="container">
    <div class="row">
        <div class="col">

<p>Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency. Its goals include speed, data integrity, and support for distributed, non-linear workflows.
</p>
   <h2>History</h2>
Git development began in April 2005 under Linus Torvalds, for development of the Linux kernel, with other kernel developers contributing to its initial development. He wanted a distributed source-control management (SCM) system, but none of the available free systems met his needs. Torvalds cited an example of an SCM system needing 30 seconds to apply a patch and update all associated metadata, and noted that this would not scale to the needs of Linux kernel development, where synchronizing with fellow maintainers could require 250 such actions at once </br>
        </br>
            <h2>Why Git?</h2>
<p>Git helps software developing teams manage changes to their source code over time. In other words, version control keeps track of every change in your code, and allows you to go back in time when something goes wrong.
It is also really helpful to prevent concurrent work from conflicting when multiple people are working on the same project. An individual may be working on the sidebar navigation feature for a webpage, while another may be simultaneously updating the header. Version control systems facilitate the work of multiple individuals by allowing them to use different branches as part of one “file tree” and merge their updated code to one source of truth when it's ready.
</p>
            <h2>Git Design </h2>
<p>The design of Git is akin to that of a filesystem, with added content addressing and versioning. Git has two data structures — a mutable index (also called stage or cache) that caches information about the working directory and the next revision to be committed; and an immutable, append-only object database. The index serves as a connection point between the object database and the working tree.
</p>

            <p>Git is a distributed version control system. As with most other distributed version control systems, and unlike most client–server systems, every Git directory on every computer is a full-fledged repository with complete history and full version-tracking abilities, independent of network access or a central server. Git gives each developer a local copy of the full development history, and changes are copied from one such repository to another. These changes are imported as added development branches and can be merged in the same way as a locally developed branch.
            </p>
            <h2>Common Operations in Git </h2>
            <ul>
                <li>Clone: Downloads a copy of the project (remote repository) to your local computer.</li>
                <li>Branch: Lists all your project branches and highlights your current branch.</li>
                <li>Checkout: Selects the branch you want to work on</li>
                <li>Pull: Pulls recent changes from the remote repository to your local files.</li>
                <li>Add: Stages file that you would like to commit.</li>
 <li>Commit: Saves the group of changes you staged to your local repository.</li>
 <li>Status: Lists all the files that you have worked on and have not been saved in a commit yet.</li>
 <li>Stash: Saves any changes you have made locally and it reverts the working directory to match the HEAD of your last commit.</li>
 <li>Push: Saves your local committed changes into the remote repository so everybody else has access to your work.</li>
 <li>Tag: Mark specific points in a repository’s history as being important, including designating release points.</li>
            </ul>
   <h2>Concepts in Git</h2>
<ol>
<li><b>Repositories: </b>A repository is a working folder under version control. Repositories in git contain a collection of files of various different versions of a project. Git stores the file versions in a hidden .git folder alongside other information it needs to manage code. These files are imported from the repository into the local server of the user for further updates and modifications in the content of the file, an operation called cloning.
<pre>
git init creates a new repo from an existing local folder
git clone copies the contents of an existing repo to a local folder</pre>
</li>
<li><b>Branch: </b> Branches are a divergence from the main line of the development of a project, and allows a developer to continue to do work without messing with that main line. Branches enable developers to code in isolation from other changes in development. Once everything's working, the branch and its changes are shared with the team. Others can experiment with the code in their own copy of the branch without it affecting the work in progress in their own branches. A new branch can be created one from any existing one, with a specific commit or tag as the starting point. Being lightweight and local to the development machine, branches are an integral part of the Git development workflow.<pre>
git checkout < branch > switches to a different branch
git add and git commit to stage local changes and commit to the feature branch
git push to push committed changes to the remote feature branch </pre>
<li><b>Commit: </b><p> A commit in Git is used to record the changes in the repository, denoting a save point in the project development history. Each commit contains the index data, with all local changes included in the commit, and the commit message, which is a description of the changes included. Commits are the snapshots of the project. Every commit is recorded in the master branch of the repository. We can recall the commits or revert it to the older version. Two different commits will never overwrite because each commit has its own commit ID. This ID is a cryptographic number created by a SHA (Secure Hash Algorithm) algorithm.</p>
<p>In order to create a commit, all included stages need to be staged using a git add command. Then,<pre> git commit -m “Commit Message” </pre> performs the commit, adding a new commit ID to the local history of the repository.</p></li>
<li><b>Merge:</b> <p> Merging is a procedure used to connect forked histories. It allows you to bring all of the new commits from a feature branch into the mainline branch or another development branch. Git merge will associate a series of commits into one unified history. Often, the result of a merge will be a separate new commit, the so-called "merge commit".</p>
<pre>git merge < branch > </pre>merges the specified branch to the currently active branch </li>
<li> <b>Tag: </b> <p> Tags are used to give meaningful names to certain points in the history of a Git repository. Tags are used to mark a commit stage as relevant. We can tag a commit for future reference. Typically, the tag functionality is used to mark release points. </p>
<p>Git supports two types of tags: lightweight and annotated. A lightweight tag is simply a pointer to a specific commit, commonly used as a temporary tag. Annotated tags, however, are stored as full objects in the Git database and contain the tagger name, email, and date; have a tagging message. Annotated tags are more commonly used, so as to include all this information. </p>
<pre>git tag -a < tag> -m “Description” </pre> creates a new tag at the current point in the branch history.
</li>
</ol>
 </div>
        <div class="col">
            <div class="bg-muted border border-dark" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/git-logo.png') }}" class="card-img-top rounded-pill"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reference Links</h5>
                    <p class="card-text"></p>
                    <a href="https://git-scm.com" class="btn btn-primary">Git Homepage</a>
                    <a href=" https://en.wikipedia.org/wiki/Git" class="btn btn-primary">Wikipedia</a>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

