<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

            <span class="purple makeBigger fs-4"><h1>Python</h1></span>
        </a>

         <ul class="nav nav-pills">
             <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/page1" class="nav-link ">Git</a></li>
            <li class="nav-item"><a href="/page2" class="nav-link">Docker</a></li>
            <li class="nav-item"><a href="/page3" class="nav-link active">Python</a></li>
            <li class="nav-item"><a href="/page4" class="nav-link">CI/CD</a></li>
        </ul>
    </header>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <p>
Python is a high-level multi-paradigm programming language that emphasizes code readability and simplicity, with the aim of helping programmers write clear, logical code for small- and large-scale projects. It features a comprehensive standard library, due to which Python has been a “batteries included” language.
</p>
<p>
Today, Python is one of the most popular programming languages, according to multiple organizations that track programming language utilization for personal, scientific, and enterprise use.
</p>
<h2>Origins and History</h2>
<p>
Python was conceived in the 1980’s by Guido Van Rossum, who until recently, served as Python’s lead developer, chief decision maker, and Benevolent Dictator for Life (BDFL). The name is a tribute to the British comedy group, Monty Python.
</p>
<p>
Python 2 was released in 2000, and Python 3 in 2008. Python versions before Python 3.0.0 versions have been sunset as of 2020. The latest stable release is Python 3.10.
</p>

<h2>Features</h2>
<p>
Python is a multi-paradigm programming language, allowing object-oriented and structured programming, with additional support for functional programming constructs and metaprogramming.
</p>
<p>
Python is a dynamically-typed language. It has typed objects, but untyped variable names, and uses duck typing. It also features garbage collection, utilizing a combination of reference counting and a cycle-detecting garbage collector for memory management. It uses dynamic name resolution (late binding), which binds method and variable names during program execution.
</p>
            <h2>Pytest</h2>
            <p>The pytest framework makes it easy to write small tests, yet scales to support complex functional testing for applications and libraries.</p>

<h2>Outline of the project </h2>
<ul>
<li><b>is601-Project1 :</b> Root of the project </li>
<li><b>.github: </b> This folder consists of the workflow yaml files(dev.yml and prof.yml) for production and development workflow deployment. </li>
<li><b>app :</b>This folder consist of all the files needed for creating the website, creating docker image, configuration file for hosting on heroku etc . It consist of controllers, static and templates subfolders. Controllers contain methods to render the html pages. Static consists of three subfolders - css, images and js. Each containing the stylesheet, images used in webpage and the javascript file.  App folder also consist of fapp.ini, ap;.py, dockerfile, requirement.txt,setup.py</li>
<li><b>app.ini:</b> Consist confit information such as socket, callable, port etc  for wsgi server</li>
<li><b>app.py:</b>  It defines a REST interface for the client side to communicate with server and request webpages.</li>
<li><b>tests:</b> It consists of the conftest.py and pagetest.py. Conftest consists of the python fixtures. They help us set up some helper code that should run before any tests are executed, and are perfect for setting-up resources that are needed by the tests. </li>
<li><b>docker-compose.yml : </b> File that contains the configuration applications services, it overrides the Dockerfile to run the flask development server instead of running the gunicorn server that is used for hosting on Heroku </li>
<li><b>Dockerfile : </b> File used to create an docker image to run in a container that runs the program. It also contains information regarding environment, where to store the volumes etc.</li>
<li><b>heroku.yml : </b>It is used to define configurations needed for running your docker images on Heroku. All config needed are provided in the Dockerfile which is mentioned in the Heroku.yml file.</li>
<li><b>pytest.ini :</b> used to hold the pytest configuration. It holds the folder where test files are added. When pytest is run on command line, the files in /tests folder are executed because of the path given in the pytest.ini file </li>
<li><b>readme.md: </b > It is a guide documented by developer that gives information about the github repository. In this project I have added the Heroku prod and dev app links to view the website hosted at these links</li>
<li><b>requirements.txt : </b> Used to specify the packages that have to be installed to run the given python project. </li>
<li><b>setup.py: </b>setup.py is a python file  which is an indication that the module/package you are about to install has likely been packaged and distributed with Distutils, which is the standard for distributing Python Modules. </li>
</ul>
    <h3> Testing in this project</h3> </br>
<p>In this project, I have created tests to check if a particular page exists, to check the contents of the page and to check if a non existing page is given in the code. </p>
<p>Assert command is used to check if the condition in the code returns True, if not it throws assertion error. </p>
<p>For each page, its tested if the status code of response is 200 and the text in response data is also tested.</p>
<pre>
<code>assert</code> response.status_code == 200
<code>assert</code> b"CI/CD" <code>in</code> response.data </pre>
<p> Above code is executed to check if the page exists and the string CI/CD exists in the page. </p>

<pre>response = client.get("/page5")
<code>assert</code> response.status_code == 404 </pre>
<p>Above code is executed to check if a non existent page return 404 response code</p>

</div>
        <div class="col">
            <div class="bg-muted border border-dark" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/python-logo.png') }}" class="card-img-top rounded-pill"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reference Links</h5>
                    <p class="card-text"></p>
                    <a href="https://www.python.org/" class="btn btn-primary">Python Homepage</a>
                     <a href="https://www.w3schools.com/python/" class="btn btn-primary">Python Tutorial</a>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

